*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    font-family: calibri, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.img1, .img2, .img3{
    position: relative;
    background-position: center;
    opacity: 0.7;
}
.img1{
    background: url(images/1.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}
.img2{
    background: url(images/2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}
.img3{
    background: url(images/3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}
.section{
    padding: 50px 82px;
    text-align: center;
}
.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
.text{
    position:absolute;
    top:50%;
    width:100%;
    text-transform:uppercase;
    text-align: center;
    letter-spacing:8px;
    font-size:27px;
    color: black;
}
.text .border{
    background-color: #111;
    color: white;
    padding: 20px;
}
.text .trans{
    background-color: transparent;
}